1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*  
'hello'  
-87.8 
-
/ 
+
6

## Values: 'hello', -87.8, 6
## expression : *, -, /, +

2. What is the difference between string and variable?

A string is sequence of characters enclosed in double quotes or single quotes. 
It can hold zero or more than zero characters in it.Example 'Chetan', 'INDIA'

Whereas, variable is something which stores value from one part of program so that it can be used in other part of program.
Example: variable_alloted = 'Chetan','India'

3. Describe three different data types.

i.float : any whole number with a decimal point. x = 3.5
ii.int : any whole number. y = 3, 4, 5
iii. string : any character which is enclosed in single quotes or double quoutes. Ex : 'Chetan', 'KOLKATA'

4. What is an expression made up of? What do all expressions do?

Expression are combinaton of variables and operators.

Variable:
a= 25
b=50
    
Expression    
c= a+b

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Basically, statements are a unit of code that Python interpreter executes. 
It can be a single statement or group of statement.
When interpreter hits statement, it executes the statement and displays the result (if there is any).

Considering, the above example spam = 10
value 10 is assigned to spam, and now spam will have value 10.

Now, coming to expression these are comibination of operators and variables
Expression, a = C+B, the value of a depends on the value of C and B.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

After running the following code, bacon will still contain value 22 in it as
because we have not alloted/uesd any variable to bacon+1 like bacon =22.

Hence, bacon = 22.

Therefore if we want to change the value of bacon we should re-assign the variable name in the time of executing the code.

In [35]:
bacon =22
bacon+1
print(bacon)

22

In [29]:
bacon =22
bacon = bacon+1
print(bacon)

23

7. What should the values of the following two terms be?

'spam'+ 'spamspam'

'spam' *3

Both outputs will be 'Spamspamspam'.

8.Why is eggs a valid variable name while 100 is invalid?

Eggs is a valid name while 100 is invalid as because any variable name cannot start with number.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

The following functions
- int()
- float()
- str()  

These functions will convert the values to integer, float or string versions of the values passed to them.

10.Why does this expression cause an error? How can you fix it? 'I have eaten ' + 99 + ' burritos.'

As because, string can be only concatenated with string. These will be fixed if we typecaste 99 as string or if we use single quotes or double to 99.

In [45]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

In [46]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'